<div class=" container jumbotron p-3">
  <table id="dtBasicExample" class="table table-responsive-md"  width="100%">
    <thead class="grey lighten-2">
      <tr> 
        <th class="th-sm ">Order code</th>
        <th class="th-sm">Customer code</th>
        <th class="th-sm">Product category</th>
        <th class="th-sm">Product name</th>
        <th class="th-sm">Order time</th>
        <th class="th-sm">Order status</th>
        <th class="">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.order_code}}</td>
        <td>{{order.customer_code}}</td>
        <td>{{order.category_name}}</td>
        <td>{{order.product_name}}</td>
        <td>{{order.product_name}}</td>
        <td  id="status" class=""><strong>{{order.order_status}}</strong></td>
        <td class="align-middle pl-4">
            <a (click)="orderview(order)" class='btn btn-primary btn-sm '>View</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="th-sm">Order Code</th>
        <th class="th-sm">Customer code</th>
        <th class="th-sm">Product category</th>
        <th class="th-sm">Product name</th>
        <th class="th-sm">Order time</th>
        <th class="th-sm">Order status</th>
        <th class="th-sm">Actions</th>
      </tr>
    </tfoot>
  </table>
</div>
