<div class="container-fluid" >
  <div class="row justify-content-md-center" style="padding-top:50px;">
      <div class="col-sm-4">
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up indigo lighten-1"></div>
    
          <!-- Avatar -->
          <div class="avatar mx-auto white">
          <img src="assets/img/adminlogin.png" class="rounded-circle" alt="woman avatar">
          </div>
    
          <!-- Content -->
          <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">ADMIN LOGIN</h4>
          <hr>
          <!-- Quotation -->
          <p> Admin only access this login method.Go to login employee login if your employee</p>
          
          <a [routerLink]="['/adminlogin']" type="button" class="btn btn-primary">Go To Login</a>
          </div>
    
        </div>
        <!-- Card -->
    
      </div>
      <div class="col-sm-4">
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up indigo lighten-1"></div>
    
          <!-- Avatar -->
          <div class="avatar mx-auto white">
          <img src="assets/img/employeelogin.png" class="rounded-circle" alt="woman avatar">
          </div>
    
          <!-- Content -->
          <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">EMPLOYEE LOGIN</h4>
          <hr>
          <!-- Quotation -->
          <p> Before proceding this login just make a call to admin. this login need the OTP Authentiation.</p>
          <a [routerLink]="['/employeelogin']" type="button" class="btn btn-primary">Go To Login</a>
          </div>
    
        </div>
        <!-- Card -->
    
      </div>
    </div>
  </div>