
<nav class="nav container-flueid m-0" >
          <ul class="list-group h-100 " id="sidenav">
              <a style="color:rgb(18, 19, 18); " id="togglemenu" href="javascript:void(0)" class="text-right" (click)="toggle()"><i class="fa fa-bars text-elegant-color"></i></a>
              <li class="list-group-item p-0 m-0 border-0 elegant-color  pb-0"><a class=" text-center pt-3 pb-3 btn text-white text-nowrap waves-effect text-left m-0 rounded-0 p-0 w-100"> <h5>Amsler India</h5> <small>( V.1.0.0 )</small></a></li>
              <div class="border-bottom "></div>
              <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a [routerLink]="['/dashboard/orderlist']" class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0 p-0 pt-3 pb-3 w-100"><i class=" fas fa-home mr-1  ml-3"></i> Dashboard</a></li>
            <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a data-toggle="collapse" data-target="#order" class="btn  text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-cart-plus mr-1 ml-3"></i> Orders<small><i class=" fas fa-plus ml-5"></i></small></a></li>
              <div class="collapse" id="order">
                  <ul class="list-group pl-4">
                      <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a [routerLink]="['/dashboard/orderadd']" class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-plus mr-1 ml-3"></i> New Orders</a></li>
                      <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a [routerLink]="['/dashboard/orderlist']" class="btn  text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-shopping-bag mr-1 ml-3"></i> All Order</a></li>
                  </ul>
                </div>
            <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a data-toggle="collapse" data-target="#employee" class="btn  text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-user-circle mr-1 ml-3"></i> Employee<small><i class=" fas fa-plus ml-4"></i></small></a></li>
            <div class="collapse" id="employee">
              <ul class="list-group pl-4">
                  <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a [routerLink]="['/dashboard/employeeadd']" class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-plus mr-1 ml-3"></i> Add Employee</a></li>
                  <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a (click)="employeelist()" class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0 p-0 pt-3 pb-3 w-100"><i class=" fas fa-server mr-1 ml-3"></i> Employee List</a></li>
                  <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a [routerLink]="['/dashboard/employeelist']" class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-server mr-1 ml-3"></i> Login Employee(OTP)</a></li>
                  
              </ul>
            </div>    
            <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a class="btn  text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class="fas fa-fw fa-chart-area mr-1 ml-3"></i> Charts</a></li>
            <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a data-toggle="collapse" data-target="#settings" class="btn  text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-cog mr-1 ml-3"></i> Settings<small><i class=" fas fa-plus ml-4"></i></small></a></li>
            <div class="collapse" id="settings">
              <ul class="list-group pl-4">
                  <li class="list-group-item p-0 m-0 border-0 elegant-color pb-0"><a class="btn text-white text-nowrap waves-effect text-left m-0 rounded-0  p-0 pt-3 pb-3 w-100"><i class=" fas fa-key mr-1 ml-3"></i> Permissions</a></li>
                  
              </ul>
            </div>
          </ul>
        </nav>
